public/flow/mqtt_all.json
[{"id":"21f96ffd.2bf94","type":"debug","z":"67275dc.3f19da4","name":"","active":true,"console":"false","complete":"payload","x":356.6666564941406,"y":104.66666412353516,"wires":[]},{"id":"59e28611.531ea8","type":"function","z":"67275dc.3f19da4","name":"parse message","func":"var msgTools = context.global.msgTools;\n//var test = [{\"channel\":925125000, \"sf\":10, \"time\":\"2017-02-17T04:35:47\", \"gwip\":\"192.168.2.4\", \"gwid\":\"00001c497b3b8146\", \"repeater\":\"00000000ffffffff\", \"systype\":4, \"rssi\":-128.8, \"snr\":-14.8, \"snr_max\":-11.5, \"snr_min\":-18.5, \"macAddr\":\"0000000004000888\", \"data\":\"fc000001006c000989\", \"frameCnt\":4933, \"fport\":2}];\n//var parseData = msgTools.parseMsg(test) ;\nvar parseData = msgTools.parseMsg( JSON.parse(msg.payload));\nif(parseData === null){\n    node.warn('parse fail');\n    return;\n}else{\n    //node.warn('#### parseData :'+JSON.stringify(parseData));\n}\nmsg.payload = parseData;\nreturn msg;","outputs":1,"noerr":0,"x":166.04165649414062,"y":170.05338287353516,"wires":[["be71ddcc.f1586"]]},{"id":"b540f8f0.961338","type":"inject","z":"67275dc.3f19da4","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"x":154.04556274414062,"y":626.8580780029297,"wires":[["b5a0ef9a.f05b4"]]},{"id":"b5a0ef9a.f05b4","type":"function","z":"67275dc.3f19da4","name":"Save finalList to file","func":"var msgTools = context.global.msgTools;\nvar list = msgTools.getFinalList();\n//node.warn('list :'+JSON.stringify(list));\nmsgTools.saveFinalListToFile();\nreturn msg;","outputs":1,"noerr":0,"x":377.0494689941406,"y":627.0455703735352,"wires":[[]]},{"id":"69014db0.7dcbe4","type":"comment","z":"67275dc.3f19da4","name":"Auto save finalList to file per 5 minutes","info":"","x":217.04165649414062,"y":584.4986953735352,"wires":[]},{"id":"be71ddcc.f1586","type":"function","z":"67275dc.3f19da4","name":"Save message to  DB","func":"var deviceDbTools = context.global.deviceDbTools;\nvar obj = msg.payload;\nvar debug = false;\n//node.warn('final payload : \\n'+JSON.stringify(obj));\ndeviceDbTools.saveDeviceMsg(obj,function(err,info){\n    if(err){\n        node.error(\"Error\");\n    }else if(debug){\n        deviceDbTools.findLastDeviceByMac(obj.mac,function(err,device){\n    \t\tif(err){\n    \t\t\tnode.warn(err);\n    \t\t}\n    \t\tif(debug){\n    \t\t\tnode.warn('new device : \\n'+device);\n    \t\t}\n    \t});\n    }\n}); \nreturn msg;","outputs":1,"noerr":0,"x":380.0455017089844,"y":170.55338287353516,"wires":[["1f770d6c.f3e973"]]},{"id":"1f770d6c.f3e973","type":"debug","z":"67275dc.3f19da4","name":"","active":true,"console":"false","complete":"payload","x":584.0494689941406,"y":91.20182037353516,"wires":[]},{"id":"fb55253f.728138","type":"mqtt in","z":"67275dc.3f19da4","name":"MQTT sub","topic":"client/200000109/200000109-GIOT-MAKER","qos":"2","broker":"94023641.bcdc78","x":144.66665649414062,"y":104.16666412353516,"wires":[["21f96ffd.2bf94","59e28611.531ea8"]]},{"id":"dfd78c04.b38b1","type":"function","z":"67275dc.3f19da4","name":"temperature","func":"var maxNum = 30;  \nvar minNum = 20;  \nvar n = Math.floor(Math.random() * (maxNum - minNum + 1)) + minNum;  \nmsg.payload = n;\nreturn msg;","outputs":1,"noerr":0,"x":624.6665954589844,"y":197.16663360595703,"wires":[["faa0c350.76701","52b6ec34.0c3d84"]]},{"id":"819ef93c.6127f8","type":"function","z":"67275dc.3f19da4","name":"humidity","func":"var maxNum = 70;  \nvar minNum = 60;  \nvar n = Math.floor(Math.random() * (maxNum - minNum + 1)) + minNum;  \nmsg.payload = n;\nreturn msg;","outputs":1,"noerr":0,"x":605.6665954589844,"y":252.66661834716797,"wires":[["85bdec12.8f7c6","475d687b.30a2e8"]]},{"id":"faa0c350.76701","type":"ui_gauge","z":"67275dc.3f19da4","name":"溫度","group":"8a5c6b8e.28c068","order":1,"width":0,"height":0,"gtype":"gage","title":"溫度","label":"units","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"x":813.6666259765625,"y":160.66664123535156,"wires":[]},{"id":"85bdec12.8f7c6","type":"ui_gauge","z":"67275dc.3f19da4","name":"濕度","group":"e903b023.2884c","order":3,"width":0,"height":0,"gtype":"gage","title":"溫度","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":811.6666259765625,"y":249.66664123535156,"wires":[]},{"id":"475d687b.30a2e8","type":"ui_chart","z":"67275dc.3f19da4","name":"","group":"e903b023.2884c","order":4,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":812.6666259765625,"y":292.66664123535156,"wires":[[],[]]},{"id":"62f168bf.e2ac98","type":"inject","z":"67275dc.3f19da4","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":181.66659545898438,"y":250.16663360595703,"wires":[["dfd78c04.b38b1","819ef93c.6127f8"]]},{"id":"52b6ec34.0c3d84","type":"ui_chart","z":"67275dc.3f19da4","name":"","group":"8a5c6b8e.28c068","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"0","ymax":"80","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":812.1666564941406,"y":199.9999771118164,"wires":[[],[]]},{"id":"94023641.bcdc78","type":"mqtt-broker","z":"","broker":"52.193.146.103","port":"80","tls":"","clientid":"200000109-generic-service03","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"8a5c6b8e.28c068","type":"ui_group","z":"","name":"溫度","tab":"2697b4f.1c9584c","order":1,"disp":true,"width":"7"},{"id":"e903b023.2884c","type":"ui_group","z":"","name":"濕度","tab":"2697b4f.1c9584c","order":2,"disp":true,"width":"7"},{"id":"2697b4f.1c9584c","type":"ui_tab","z":"","name":"溫濕度","icon":"dashboard","order":1}]