public/flow/mqtt_all.json
[{"id":"c88b69ff.9fcd18","type":"function","z":"3aa29b55.1c7a94","name":"","func":"var obj = msg.payload;\nvar msg1 = {}, msg2 = {};\nmsg1.payload = obj.information.temperature;\nmsg2.payload = obj.information.humidity;\nreturn [msg1, msg2];","outputs":"2","noerr":0,"x":338,"y":278,"wires":[["e1c6eec3.57b4","1968d984.977e36"],["36e27ab7.951966","4b6e7020.3e98e"]]},{"id":"b57e8102.55a17","type":"function","z":"3aa29b55.1c7a94","name":"parse message","func":"var msgTools = context.global.msgTools;\n//var test = [{\"channel\":925125000, \"sf\":10, \"time\":\"2017-02-17T04:35:47\", \"gwip\":\"192.168.2.4\", \"gwid\":\"00001c497b3b8146\", \"repeater\":\"00000000ffffffff\", \"systype\":4, \"rssi\":-128.8, \"snr\":-14.8, \"snr_max\":-11.5, \"snr_min\":-18.5, \"macAddr\":\"0000000004000888\", \"data\":\"fc000001006c000989\", \"frameCnt\":4933, \"fport\":2}];\n//var parseData = msgTools.parseMsg(test) ;\nvar parseData = msgTools.parseMsg(msg.payload);\nif(parseData === null){\n    node.warn('parse fail');\n    return;\n}else{\n    //node.warn('#### parseData :'+JSON.stringify(parseData));\n}\nmsg.payload = parseData;\nreturn msg;","outputs":1,"noerr":0,"x":393.375,"y":90.38671875,"wires":[["1c95ec95.d193f3","c88b69ff.9fcd18","71220b29.2687c4"]]},{"id":"df20d411.f3df78","type":"inject","z":"3aa29b55.1c7a94","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"x":126.37890625,"y":611.1914138793945,"wires":[["847c50c4.55066"]]},{"id":"847c50c4.55066","type":"function","z":"3aa29b55.1c7a94","name":"Save finalList to file","func":"var msgTools = context.global.msgTools;\nvar list = msgTools.getFinalList();\n//node.warn('list :'+JSON.stringify(list));\nmsgTools.saveFinalListToFile();\nreturn msg;","outputs":1,"noerr":0,"x":349.3828125,"y":611.37890625,"wires":[[]]},{"id":"4d084089.55836","type":"comment","z":"3aa29b55.1c7a94","name":"Auto save finalList to file per 5 minutes","info":"","x":189.375,"y":568.83203125,"wires":[]},{"id":"71220b29.2687c4","type":"function","z":"3aa29b55.1c7a94","name":"Save message to  DB","func":"var deviceDbTools = context.global.deviceDbTools;\nvar obj = msg.payload;\nvar debug = false;\n//node.warn('final payload : \\n'+JSON.stringify(obj));\ndeviceDbTools.saveDeviceMsg(obj,function(err,info){\n    if(err){\n        node.error(\"Error\");\n    }else if(debug){\n        deviceDbTools.findLastDeviceByMac(obj.mac,function(err,device){\n    \t\tif(err){\n    \t\t\tnode.warn(err);\n    \t\t}\n    \t\tif(debug){\n    \t\t\tnode.warn('new device : \\n'+device);\n    \t\t}\n    \t});\n    }\n}); \nreturn msg;","outputs":1,"noerr":0,"x":658.3788757324219,"y":97.88672065734863,"wires":[["73c73113.dceb3"]]},{"id":"73c73113.dceb3","type":"debug","z":"3aa29b55.1c7a94","name":"","active":true,"console":"false","complete":"payload","x":744.3828125,"y":30.53515625,"wires":[]},{"id":"8dbd469e.71f358","type":"mqtt in","z":"3aa29b55.1c7a94","name":"MQTT sub","topic":"client/200000206/200000206-GIOT-MAKER","qos":"2","broker":"ba8c8b79.7390f8","x":88,"y":20,"wires":[["b8f94d81.099d4","a8d4883c.a6abd8"]]},{"id":"48664035.3793f","type":"function","z":"3aa29b55.1c7a94","name":"temperature","func":"var maxNum = 30;  \nvar minNum = 20;  \nvar n = Math.floor(Math.random() * (maxNum - minNum + 1)) + minNum;  \nmsg.payload = n;\nreturn msg;","outputs":1,"noerr":0,"x":442.99993896484375,"y":440.4999694824219,"wires":[[]]},{"id":"8d41de67.165a5","type":"function","z":"3aa29b55.1c7a94","name":"humidity","func":"var maxNum = 70;  \nvar minNum = 60;  \nvar n = Math.floor(Math.random() * (maxNum - minNum + 1)) + minNum;  \nmsg.payload = n;\nreturn msg;","outputs":1,"noerr":0,"x":434.99993896484375,"y":481.99993896484375,"wires":[[]]},{"id":"e1c6eec3.57b4","type":"ui_gauge","z":"3aa29b55.1c7a94","name":"溫度","group":"74d2a2a7.be87ac","order":1,"width":0,"height":0,"gtype":"gage","title":"溫度","label":"units","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":768,"y":210.99996948242188,"wires":[]},{"id":"36e27ab7.951966","type":"ui_gauge","z":"3aa29b55.1c7a94","name":"濕度","group":"6d6f0540.cfaacc","order":3,"width":0,"height":0,"gtype":"gage","title":"溫度","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":761,"y":299.9999694824219,"wires":[]},{"id":"4b6e7020.3e98e","type":"ui_chart","z":"3aa29b55.1c7a94","name":"","group":"6d6f0540.cfaacc","order":4,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":760,"y":342.9999694824219,"wires":[[],[]]},{"id":"212f1822.ac0348","type":"inject","z":"3aa29b55.1c7a94","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":107.99993896484375,"y":296.4999694824219,"wires":[["48664035.3793f","8d41de67.165a5"]]},{"id":"1968d984.977e36","type":"ui_chart","z":"3aa29b55.1c7a94","name":"","group":"74d2a2a7.be87ac","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"80","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":763.5,"y":256.33331298828125,"wires":[[],[]]},{"id":"2fb951cd.879bae","type":"inject","z":"3aa29b55.1c7a94","name":"","topic":"","payload":"{\"id\":\"018e7d7d-c103-4a17-a800-d643be767e2f\",\"macAddr\":\"05010326\",\"data\":\"0a811ba5\",\"buff\":\"2017-11-15T05:46:21.527Z\",\"recv\":\"2017-11-15T05:46:20.000Z\",\"extra\":{\"gwip\":\"163.28.166.166\",\"gwid\":\"00001c497b431f8e\",\"rssi\":-101,\"snr\":5}}","payloadType":"str","repeat":"","crontab":"","once":false,"x":97,"y":225,"wires":[["a8d4883c.a6abd8"]]},{"id":"a8d4883c.a6abd8","type":"json","z":"3aa29b55.1c7a94","name":"","x":221,"y":89,"wires":[["b57e8102.55a17","eb32aa11.9dd5a8"]]},{"id":"b8f94d81.099d4","type":"debug","z":"3aa29b55.1c7a94","name":"","active":false,"console":"false","complete":"false","x":301,"y":20,"wires":[]},{"id":"1c95ec95.d193f3","type":"debug","z":"3aa29b55.1c7a94","name":"","active":true,"console":"false","complete":"false","x":601.0000686645508,"y":154.00000762939453,"wires":[]},{"id":"eb32aa11.9dd5a8","type":"debug","z":"3aa29b55.1c7a94","name":"","active":false,"console":"false","complete":"false","x":355,"y":156,"wires":[]},{"id":"ba8c8b79.7390f8","type":"mqtt-broker","z":"","broker":"52.193.146.103","port":"80","tls":"","clientid":"200000206-generic-service01","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"74d2a2a7.be87ac","type":"ui_group","z":"","name":"Group 1","tab":"ad2a5f1f.21726","order":1,"disp":true,"width":"10"},{"id":"6d6f0540.cfaacc","type":"ui_group","z":"","name":"Group 2","tab":"ad2a5f1f.21726","order":2,"disp":true,"width":"10"},{"id":"ad2a5f1f.21726","type":"ui_tab","z":"3aa29b55.1c7a94","name":"溫濕度","icon":"dashboard","order":1}]