public/flow/todos_test.json
[{"id":"f5b805f5.6277c8","type":"inject","z":"c1656b90.535978","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":152.66665649414062,"y":175.66665649414062,"wires":[["ec1fd0f0.6b56c"]]},{"id":"ec1fd0f0.6b56c","type":"http request","z":"c1656b90.535978","name":"GET","method":"GET","ret":"obj","url":"http://localhost:3000/todos/devices?mac=040004b8&option=0&mdate=2017-02-22","tls":"","x":477.6666259765625,"y":176.16661834716797,"wires":[["44f206d9.b31348"]]},{"id":"44f206d9.b31348","type":"debug","z":"c1656b90.535978","name":"","active":true,"console":"false","complete":"payload","x":649.6666259765625,"y":175.1666488647461,"wires":[]},{"id":"cc13e31a.c813a","type":"comment","z":"c1656b90.535978","name":"todos test","info":"","x":128.66665649414062,"y":137.66665649414062,"wires":[]},{"id":"929e6592.041f38","type":"function","z":"c1656b90.535978","name":"","func":"var moment = context.global.momentModule;\n\nvar mac = msg.payload;\nvar now = new Date();\nvar date = (now.getFullYear() + '/' + (now.getMonth() + 1) + '/' + now.getDate() );\nvar option = 0;//0: 1 day, 1: 1 weeks, 2: 1 months, 3: 3 months \n\nvar type = msg.payload.type;\n\nvar path = 'http://localhost:3000/todos/devices?mac='+mac+'&option='+option+'&mdate='+date;\nnode.warn('path:'+path);\nmsg.url = path;\nreturn msg;","outputs":1,"noerr":0,"x":300.5,"y":175.66666412353516,"wires":[[]]}]