public/flow/ws_all.json
[{"id":"aad4900a.28059","type":"http in","z":"96cb4f95.62cc","name":"devices","url":"/devices","method":"get","swaggerDoc":"","x":117.93331146240234,"y":121.99999618530273,"wires":[["97d14af5.ecc158"]]},{"id":"fbe3ab10.b67018","type":"http response","z":"96cb4f95.62cc","name":"","x":682.9333114624023,"y":121.99999618530273,"wires":[]},{"id":"c418db10.6c5508","type":"websocket out","z":"96cb4f95.62cc","name":"web socket mobiUI - out","server":"470a0e9b.b93a6","client":"","x":742.9333114624023,"y":316.99999618530273,"wires":[]},{"id":"fb10a66d.318b78","type":"websocket in","z":"96cb4f95.62cc","name":"web socket tools - in","server":"470a0e9b.b93a6","client":"","x":146.93331146240234,"y":252.99999618530273,"wires":[["45d8b94a.48e198"]]},{"id":"4b82c9d0.76fff8","type":"comment","z":"96cb4f95.62cc","name":"Listen /ws/devices","info":"","x":148.93331146240234,"y":210.99999618530273,"wires":[]},{"id":"1c42a7a3.8bbd98","type":"comment","z":"96cb4f95.62cc","name":"Listen /devices","info":"","x":148.93331146240234,"y":54.999996185302734,"wires":[]},{"id":"97d14af5.ecc158","type":"function","z":"96cb4f95.62cc","name":"Get mac","func":"node.warn(JSON.stringify(msg.req.query.mac));\nvar mac = msg.req.query.mac;\n\ncontext.global.selectedMac = mac;\nmsg.payload.mac = mac;\n\nnode.warn('$$$$ msg.payload : '+JSON.stringify(msg.payload));\nreturn msg;","outputs":1,"noerr":0,"x":283.93331146240234,"y":121.99999618530273,"wires":[["833cb012.4239c"]]},{"id":"833cb012.4239c","type":"template","z":"96cb4f95.62cc","name":"html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html xmlns=\"http://www.w3.org/1999/xhtml\">\n<head>\n    <meta charset=\"utf-8\" />\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n    <title>Free Bootstrap Admin Template : Binary Admin</title>\n  <!-- BOOTSTRAP STYLES-->\n    <link href=\"css/bootstrap.min.css\" rel=\"stylesheet\">\n    <!-- FONTAWESOME STYLES-->\n    <link href=\"vendor/font-awesome/css/font-awesome.css\" rel=\"stylesheet\" />\n    <!-- CUSTOM STYLES-->\n    <link href=\"css/custom.css\" rel=\"stylesheet\" />\n    <!-- GOOGLE FONTS-->\n    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />\n    <!-- jquery.dataTables-->\n    <link href=\"vendor/DataTables-1.10.13/media/css/jquery.dataTables.min.css\" rel=\"stylesheet\">\n    <!-- button.dataTables-->\n    <link href=\"vendor/DataTables-1.10.13/extensions/Buttons/css/buttons.dataTables.min.css\" rel=\"stylesheet\">\n    <!--  JSCal2-1.7-->\n    <link href=\"/vendor/JSCal2-1.7/css/jscal2.css\" type=\"text/css\" rel=\"stylesheet\"/>\n    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->\n    <!-- JQUERY SCRIPTS -->\n    <script src=\"js/jquery-1.12.4.js\"></script>\n      <!-- BOOTSTRAP SCRIPTS -->\n    <script src=\"js/bootstrap.min.js\"></script>\n    <!-- METISMENU SCRIPTS \n    <script src=\"js/jquery.metisMenu.js\"></script>\n      <!-- CUSTOM SCRIPTS\n    <script src=\"js/custom.js\"></script> -->\n    <!-- JQUERY DataTables-->\n    <script type=\"text/javascript\" src=\"vendor/DataTables-1.10.13/media/js/jquery.dataTables.min.js\"></script>\n    <!-- Button DataTables-->\n    <script type=\"text/javascript\" src=\"vendor/DataTables-1.10.13/extensions/Buttons/js/dataTables.buttons.min.js\"></script>\n     <!-- Button DataTables-->\n    <script type=\"text/javascript\" src=\"vendor/DataTables-1.10.13/extensions/Buttons/js/buttons.flash.min.js\"></script>\n    <!-- JZIP -->\n    <script type=\"text/javascript\" src=\"vendor\\DataTables-1.10.13\\jszip.min.js\"></script>\n    <!-- PDF MAKE -->\n    <script type=\"text/javascript\" src=\"vendor\\DataTables-1.10.13\\pdfmake.min.js\"></script>\n    <!-- VFS FONT -->\n    <script type=\"text/javascript\" src=\"vendor\\DataTables-1.10.13\\vfs_fonts.js\"></script>\n    <!-- BUTTON HTML5 -->\n    <script type=\"text/javascript\" src=\"/js/bootstrap-waitingfor.min.js\"></script>\n    <!-- WAITING DIALOG -->\n    <script type=\"text/javascript\" src=\"vendor/DataTables-1.10.13/extensions/Buttons/js/buttons.html5.min.js\"></script>\n    <!--<script type=\"text/javascript\" src=\"http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js\"></script>-->\n    <!--  JSCal2-1.7-->\n    <script type=\"text/javascript\" src=\"/vendor/JSCal2-1.7/js/jscal2.js\"></script>\n    <script type=\"text/javascript\" src=\"/vendor/JSCal2-1.7/js/lang/b5.js\"></script>\n    <script>//Node-Red mobi ui - LHG industrialinternet.co.uk\n      console.log(\"Node admin device information\");\n      var connected = false;\n      var table;\n      if(location.protocol==\"https:\"){\n        var wsUri=\"wss://\"+window.location.hostname+\":3000/ws/devices\";\n      } else {\n        var wsUri=\"ws://\"+window.location.hostname+\":3000/ws/devices\";\n      }\n      var ws=null;\n\n      function wsConn() {\n        ws = new WebSocket(wsUri);\n        ws.onmessage = function(m) {\n          //console.log('< from-node-red:',m.data);\n          if (typeof(m.data) === \"string\" && m. data !== null){\n            var msg =JSON.parse(m.data);\n            console.log(\"from-node-red : id:\"+msg.id);\n            if(msg.id === 'change_table'){\n                //Remove init button active\n                console.log(\"v : \"+msg.v);\n\n                //Reload table data\n                //console.log(\"v type:\"+typeof(msg.v));\n                table = $('#table1').dataTable();\n                table.fnClearTable();\n                var data = JSON.parse(msg.v);\n                console.log(\"addData type : \"+ typeof(data)+\" : \"+data);\n                if(data){\n                    table.fnAddData(data);\n                    table.$('tr').click(function() {\n                    var row=table.fnGetData(this);\n                        toSecondTable(row[1]);\n                    });\n                }\n                waitingDialog.hide();\n            }else if(msg.id === 'init_btn'){\n                //Set init button active\n                console.log(\"type:\"+typeof(msg.v)+\" = \"+ msg.v);\n                type = msg.v;\n              }\n          }\n        }\n        ws.onopen = function() {\n\n          var mac  ='{{{payload.mac}}}';\n          var date  ='{{{payload.date}}}';\n          console.log('date :'+ date);\n          connected = true;\n          var obj = {\"id\":\"init\",\"v\":mac};\n          var getRequest = JSON.stringify(obj);\n          console.log(\"getRequest type : \"+ typeof(getRequest)+\" : \"+getRequest);\n          console.log(\"ws.onopen : \"+ getRequest);\n          ws.send(getRequest);      // Request ui status from NR\n          console.log(getRequest);\n\n        }\n        ws.onclose   = function()  {\n          console.log('Node-RED connection closed: '+new Date().toUTCString());\n          connected = false;\n          ws = null;\n        }\n        ws.onerror  = function(){\n          console.log(\"connection error\");\n        }\n      }\n      wsConn();           // connect to Node-RED server\n\n      function setButton(_id,_v){ // update slider\n        myselect = $(\"#\"+_id);\n         myselect.val(_v);\n         myselect.slider('refresh');\n      }\n\n      function myFunction(id){  // update device\n        console.log(id);\n        if(ws){\n            console.log(\"ws.onopen OK \");\n        }\n        //console.log(\"id type : \"+ typeof(id)+\" : \"+id);\n        var obj = {\"id\":\"change_type\",\"v\":id};\n        var objString = JSON.stringify(obj);\n        //console.log(\"getRequest type : \"+ typeof(objString)+\" : \"+objString);\n        //console.log(\"ws.onopen : \"+ objString);\n        ws.send(objString);     // Request ui status from NR\n        console.log(\"sent change_type requeset\");\n\n      }\n\n      function back(){\n          //alert('back');\n          location.href=document.referrer;\n      }\n\n      function showDialog(){\n          //waitingDialog.show('Custom message', {dialogSize: 'sm', progressType: 'warning'});\n          waitingDialog.show();\n          setTimeout(function () {\n            waitingDialog.hide();\n            }, 10000);\n      }\n\n\n      $(document).ready(function(){\n          showDialog();\n          var opt={\"oLanguage\":{\"sProcessing\":\"處理中...\",\n                  \"sLengthMenu\":\"顯示 _MENU_ 項結果\",\n                  \"sZeroRecords\":\"沒有匹配結果\",\n                  \"sInfo\":\"顯示第 _START_ 至 _END_ 項結果，共 _TOTAL_ 項\",\n                  \"sInfoEmpty\":\"顯示第 0 至 0 項結果，共 0 項\",\n                  \"sInfoFiltered\":\"(從 _MAX_ 項結果過濾)\",\n                  \"sSearch\":\"搜索:\",\n                  \"oPaginate\":{\"sFirst\":\"首頁\",\n                               \"sPrevious\":\"上頁\",\n                               \"sNext\":\"下頁\",\n                               \"sLast\":\"尾頁\"}\n                  },dom: 'Blrtip',\n                    buttons: [\n                        'copyHtml5',\n                        'excelHtml5',\n                        'csvHtml5',\n                        'pdfHtml5'\n                    ]\n           };\n          //$(\"#table1\").dataTable(opt); //中文化\n          table = table = $('#table1').DataTable({\n                    dom: 'Blrtip',\n                    buttons: [\n                        'copyHtml5',\n                        //'excelHtml5',\n                        'csvHtml5',\n                        //'pdfHtml5'\n                    ]\n                } );\n\n      });\n\n  </script>\n</head>\n<body>\n    <div id=\"wrapper\">\n        <nav class=\"navbar navbar-default navbar-cls-top \" role=\"navigation\" style=\"margin-bottom: 0\">\n            <div class=\"navbar-header\">\n                <button type=\"button\" class=\"navbar-toggle\" data-toggle=\"collapse\" data-target=\".sidebar-collapse\">\n                    <span class=\"sr-only\">Toggle navigation</span>\n                    <span class=\"icon-bar\"></span>\n                    <span class=\"icon-bar\"></span>\n                    <span class=\"icon-bar\"></span>\n                </button>\n                <a class=\"navbar-brand\" href=\"/tools\">Test Tools</a>\n\n            </div>\n\n        </nav>\n           <!-- /. NAV TOP  -->\n        <nav class=\"navbar-default navbar-side\" role=\"navigation\">\n          <div class=\"sidebar-collapse\">\n              <ul class=\"nav\" id=\"main-menu\">\n                  <li class=\"text-center\">\n                      <img src=\"images/iot.jpg\" class=\"user-image img-responsive\"/>\n                  </li>\n\n                  <!--<li >\n                      <a class=\"active-menu\" href=\"/\"><i class=\"fa fa-dashboard fa-3x\"></i> 首頁</a>\n                  </li>\n                  <li>\n                      <a  href=\"/update\"><i class=\"fa fa-desktop fa-3x\"></i> 更新</a></li>\n                  </li>\n                  <li>\n                    <a  href=\"/find\"><i class=\"fa fa-qrcode fa-3x\"></i> 查詢</a>\n                  </li>-->\n              </ul>\n          </div>\n        </nav>\n        <!-- /. NAV SIDE  -->\n        <div id=\"page-wrapper\" >\n          <div id=\"page-inner\">\n             <div class=\"row\">\n                <div class=\"col-md-12\">\n                    <div class=\"col-md-2\">\n                      <button type=\"button\" id=\"back\" name=\"back\" class=\"btn btn-primary btn-sm\" onClick=\"back()\">\n                        <img src=\"icons/back.png\" width=\"ˇ30\" height=\"30\"/> Back\n                      </button>\n                    </div>\n                    <div class=\"col-md-12\">\n                        <h2><span id=\"device_mac\">{{{payload.mac}}}</span></h2>\n                    </div>\n\n                    <div class=\"col-md-12 column\">\n\n                      <table id=\"table1\" class=\"display\" cellspacing=\"0\" width=\"100%\">\n                                  <thead>\n                                      <tr style=\"color:#428bca\">\n                                        <th>Item</th>\n                                        <th>Receive time</th>\n                                        <th>Data</th>\n                                        <th>UL Rss</th>\n                                        <th>UL SNR</th>\n                                        <th>Repeater</th>\n                                        <th>systype</th>\n                                        <th>ApId</th>\n                                      </tr>\n                                  </thead>\n                                  <tbody>\n\n                                      <tr>\n                                        <td></td>\n                                        <td></td>\n                                        <td></td>\n                                        <td></td>\n                                        <td></td>\n                                        <td></td>\n                                        <td></td>\n                                        <td></td>\n                                      </tr>\n\n                                  </tbody>\n                              </table>\n                    </div>\n                </div>\n          </div>\n          <!-- /. ROW  -->\n        </div>\n        <!-- /. PAGE INNER  -->\n      </div>\n      <!-- /. PAGE WRAPPER  -->\n    </div>\n    <!-- /. WRAPPER  -->\n\n</body>\n</html>\n","x":511.93331146240234,"y":121.99999618530273,"wires":[["fbe3ab10.b67018"]]},{"id":"45d8b94a.48e198","type":"function","z":"96cb4f95.62cc","name":"WS/devices","func":"//node.warn('Check WS/devices Message payload'+msg.payload);\nvar deviceDbTools = context.global.deviceDbTools;\nvar obj = JSON.parse(msg.payload);\ndelete msg.payload;\ndelete msg._session;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\" || obj.id==\"refresh\"){\n    msg.payload = obj.v;\n    //node.warn('payload'+msg.payload);\n\treturn msg;  \n}\n","outputs":"1","noerr":0,"x":372.93331146240234,"y":251.99999618530273,"wires":[["1a25324d.4a70ee"]]},{"id":"1a25324d.4a70ee","type":"function","z":"96cb4f95.62cc","name":"set index/view","func":"var moment = context.global.momentModule;\n\nvar mac = msg.payload;\n\nvar now = moment().format('YYYY-MM-DD');\nvar option = 0;//0: 1 day, 1: 1 weeks, 2: 1 months, 3: 3 months \n\nvar type = msg.payload.type;\n\nvar path = 'http://localhost:3000/todos/devices?mac='+mac+'&option='+option+'&mdate='+now;\nnode.warn('path:'+path);\nmsg.url = path;\nreturn msg;","outputs":"1","noerr":0,"x":574.9333724975586,"y":251.00001907348633,"wires":[["57065404.7a643c"]]},{"id":"faaf9b41.154638","type":"function","z":"96cb4f95.62cc","name":"WS/devices","func":"//node.warn('Check WS/devices Message payload'+msg.payload);\nvar obj = JSON.parse(msg.payload);\ndelete msg.payload;\ndelete msg._session;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\" || obj.id==\"refresh\"){\n    msg.payload = obj.v.mac;\n\treturn msg;  \n}\n","outputs":"1","noerr":0,"x":537.9333114624023,"y":981.9999961853027,"wires":[["44e93944.fdf8b8"]]},{"id":"44e93944.fdf8b8","type":"function","z":"96cb4f95.62cc","name":"set url","func":"msg.url = 'http://localhost:5984/test/_design/app/_view/new-view';\nreturn msg;","outputs":1,"noerr":0,"x":737.9333114624023,"y":981.9999961853027,"wires":[["53ce2def.634644"]]},{"id":"53ce2def.634644","type":"http request","z":"96cb4f95.62cc","name":"GET","method":"GET","ret":"txt","url":"","tls":"","x":887.9333114624023,"y":981.9999961853027,"wires":[["fa6775e9.063ca8"]]},{"id":"fa6775e9.063ca8","type":"function","z":"96cb4f95.62cc","name":"Parse Data","func":"var rows = 0;\nvar test = true;\nvar debug = false;\nvar payload = JSON.parse(msg.payload);\nvar total_rows = payload['total_rows'];\nvar rows = payload['rows'];\n\nconsole.log('%%%%%%%%%%%%% : '+rows.length);\nvar type = context.global.selectedType;\nvar mItem = 1;\nvar array = [];\n//console.log( 'Last Device Information \\n '+JSON.stringify( mObj));\n\nfor (var i=0;i<rows.length;i++)\n{\n  array.push(getArray(type,rows[i].value,mItem));\n  \n  mItem++;\n  if(debug){\n    console.log( i + ': ' + JSON.stringify(rows[i]) );\n    break;\n  }\n}\nvar dataString = JSON.stringify(array);\nif(array.length===0){\n    node.warn('empty array');\n    dataString =null;\n}\nif(debug){\n    console.log('**** final array = '+JSON.stringify(array));\n}\n\n//node.warn('PIR Data : '+dataString);\nmsg.payload = {id:\"change_table\", v: dataString};\nreturn msg;\n\n\n//function----------------------------------------\nfunction getArray(type,obj,item){\n    if(debug){\n         console.log('getArray start ------------------------------');\n    }\n    var arr = [];\n    if(item<10){\n        arr.push('0'+item);\n    }else{\n        arr.push(item.toString());\n    }\n    \n    arr.push(obj.recv);\n    \n    if(test){\n        arr.push(obj.mac);\n        arr.push(\"\");\n        arr.push(\"\");\n    }else if(type === 'gps'){\n        arr.push(obj.information.GPS_N);\n        arr.push(obj.information.GPS_E);\n        arr.push(\"-\");\n    }else if(type === 'pir' || type === 'flood'){\n        arr.push(obj.information.trigger);\n        arr.push(obj.information.BATL);\n    }else if(type === 'pm25'){\n        arr.push(obj.information.value);\n        arr.push(obj.information.BATL);\n    }\n\n    arr.push(obj.rssi+\"/\"+obj.snr);\n    arr.push(obj.sf);\n    arr.push(obj.channel);\n    arr.push(obj.gwid);\n    if(debug){\n         console.log('arr = '+arr.length + '\\n'+JSON.stringify(arr));\n    }\n   \n    return arr ;\n}\n","outputs":1,"noerr":0,"x":1117.9333114624023,"y":981.9999961853027,"wires":[[]]},{"id":"95e0e81c.169768","type":"comment","z":"96cb4f95.62cc","name":"Get Apache Couch DB","info":"取得Apache Couch DB資料庫資料\n資料以view方式取得\nrow = {_id:$id,key:$key,value:result}\ndata = row.value","x":580.4254989624023,"y":936.4765586853027,"wires":[]},{"id":"e45d114c.514db","type":"function","z":"96cb4f95.62cc","name":"Parse(mongoDb message)","func":"var rows = 0;\nvar test = false;\nvar debug = false;\nvar mac = context.global.selectedMac;\nif(debug)\n    node.warn('mac : '+mac);\nvar arr = JSON.parse(msg.payload);\n\nvar mItem = 1;\nvar array = [];\n//console.log( 'Last Device Information \\n '+JSON.stringify( mObj));\n\nfor (var i=0;i<arr.length;i++)\n{\n  array.push(getArray(arr[i],mItem));\n  \n  mItem++;\n  if(debug){\n    node.warn( i + ': ' + JSON.stringify(arr[i]) );\n    break;\n  }\n}\nvar dataString = JSON.stringify(array);\nif(array.length===0){\n    node.warn('empty array');\n    dataString =null;\n}\nif(test){\n    console.log('**** final array = '+JSON.stringify(array));\n}\n\nmsg.payload = {id:\"change_table\", v: dataString};\nreturn msg;\n\n\n//function----------------------------------------\nfunction getArray(obj,item){\n    if(debug){\n         console.log('getArray start ------------------------------');\n    }\n    var arr = [];\n    if(item<10){\n        arr.push('0'+item);\n    }else{\n        arr.push(item.toString());\n    }\n    \n    arr.push(obj.date);\n    arr.push(obj.data);\n\n    arr.push(obj.info.extra.rssi);\n    arr.push(obj.info.extra.snr);\n    //arr.push(obj.info.extra.sf);\n    //arr.push(obj.info.extra.channel);\n    arr.push(obj.info.extra.repeater);\n    arr.push(obj.info.extra.systype);\n    arr.push(obj.info.extra.gwid);\n    if(debug){\n         console.log('arr = '+arr.length + '\\n'+JSON.stringify(arr));\n    }\n   \n    return arr ;\n}\n","outputs":1,"noerr":0,"x":404.93331146240234,"y":316.99999618530273,"wires":[["c418db10.6c5508"]]},{"id":"57065404.7a643c","type":"http request","z":"96cb4f95.62cc","name":"GET","method":"GET","ret":"txt","url":"","tls":"","x":162.93331146240234,"y":317.99999618530273,"wires":[["c6b4ceab.5b36e","e45d114c.514db"]]},{"id":"c6b4ceab.5b36e","type":"debug","z":"96cb4f95.62cc","name":"","active":false,"console":"false","complete":"false","x":327.93331146240234,"y":400.99999618530273,"wires":[]},{"id":"470a0e9b.b93a6","type":"websocket-listener","z":"","path":"/ws/devices","wholemsg":"false"}]