doc/MQTT.json
[{"id":"40c1fd66.b0fa64","type":"mqtt in","z":"d45fbe58.7d5bc","name":"client/200000206/200000206-GIOT-MAKER","topic":"client/200000206/200000206-GIOT-MAKER","qos":"2","broker":"6f0a737.ab10c8c","x":256.51953125,"y":134.12500476837158,"wires":[["36cedd0c.506432","e8b2b8f.a6c6c48"]]},{"id":"36cedd0c.506432","type":"debug","z":"d45fbe58.7d5bc","name":"","active":false,"console":"false","complete":"false","x":579.5234680175781,"y":132.20313835144043,"wires":[]},{"id":"1f1d577a.ee83a9","type":"inject","z":"d45fbe58.7d5bc","name":"","topic":"","payload":"{\"id\":\"3f6ab8e6-26fd-45de-abbb-017864dff3d3\",\"macAddr\":\"05010326\",\"data\":\"0ace1b2f\",\"buff\":\"2017-11-16T02:47:59.986Z\",\"recv\":\"2017-11-16T02:47:59.000Z\",\"extra\":{\"gwip\":\"163.28.166.166\",\"gwid\":\"00001c497b431f8e\",\"rssi\":-101,\"snr\":15}}","payloadType":"str","repeat":"","crontab":"","once":false,"x":108.51953125,"y":304.203125,"wires":[["75d32418.4bf29c","e8b2b8f.a6c6c48"]]},{"id":"75d32418.4bf29c","type":"debug","z":"d45fbe58.7d5bc","name":"","active":false,"console":"false","complete":"false","x":301.51172637939453,"y":226.19922637939453,"wires":[]},{"id":"105cb855.c85208","type":"function","z":"d45fbe58.7d5bc","name":"","func":"var obj = msg.payload;\nvar data = obj.data;\nvar temperature = parseInt(data.substring(0,4),16)/100;\nvar humidity = parseInt(data.substring(4,8),16)/100;\nmsg.payload = temperature;\nvar msg2 = {};\nmsg2.payload = humidity;\nreturn [msg,msg2];","outputs":"2","noerr":0,"x":425.5117378234863,"y":304.25390625,"wires":[["fe67c543.b92e98","84977e5e.452f3","2cf3df64.1c74d","2a67eaf4.96db06"],["2edb1128.a5bfde","9ed0164f.b5a648","8cdd949e.2bd9f8"]]},{"id":"e8b2b8f.a6c6c48","type":"json","z":"d45fbe58.7d5bc","name":"","pretty":false,"x":289.51172637939453,"y":304.97266387939453,"wires":[["105cb855.c85208"]]},{"id":"fe67c543.b92e98","type":"debug","z":"d45fbe58.7d5bc","name":"溫度","active":false,"console":"false","complete":"payload","x":583.5156326293945,"y":181.19141960144043,"wires":[]},{"id":"2edb1128.a5bfde","type":"debug","z":"d45fbe58.7d5bc","name":"濕度","active":false,"console":"false","complete":"payload","x":579.5195617675781,"y":435.1992483139038,"wires":[]},{"id":"84977e5e.452f3","type":"ui_gauge","z":"d45fbe58.7d5bc","name":"","group":"56fdfc49.bbf3b4","order":0,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"度","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"30","seg2":"40","x":597.5156478881836,"y":226.97266006469727,"wires":[]},{"id":"2cf3df64.1c74d","type":"ui_chart","z":"d45fbe58.7d5bc","name":"","group":"56fdfc49.bbf3b4","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":589.515625,"y":268.94921875,"wires":[[],[]]},{"id":"9ed0164f.b5a648","type":"ui_gauge","z":"d45fbe58.7d5bc","name":"","group":"b994856c.5de818","order":0,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"60","seg2":"80","x":595.51171875,"y":344.96484375,"wires":[]},{"id":"8cdd949e.2bd9f8","type":"ui_chart","z":"d45fbe58.7d5bc","name":"","group":"b994856c.5de818","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"60","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":590.51171875,"y":393.94921875,"wires":[[],[]]},{"id":"d720dc1c.f9e54","type":"ui_toast","z":"d45fbe58.7d5bc","position":"bottom right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":497.5117721557617,"y":559.9102172851562,"wires":[]},{"id":"2a67eaf4.96db06","type":"function","z":"d45fbe58.7d5bc","name":"","func":"node.warn('msg.payload : ' + msg.payload + ', context.glabal.temperature : ' + context.global.temperatureMax);\nif(msg.payload > context.global.temperatureMax) {\n    msg.payload = '溫度過高';\n    return msg;\n} else {\n    return;\n}\n","outputs":1,"noerr":0,"x":304.50782012939453,"y":532.7539367675781,"wires":[["d720dc1c.f9e54","1efe50bb.25a7af"]]},{"id":"1efe50bb.25a7af","type":"debug","z":"d45fbe58.7d5bc","name":"","active":true,"console":"false","complete":"false","x":484.515625,"y":512.69921875,"wires":[]},{"id":"6f0a737.ab10c8c","type":"mqtt-broker","z":"","name":"","broker":"52.193.146.103","port":"80","clientid":"client/200000206/200000206-GIOT-MAKER02","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"56fdfc49.bbf3b4","type":"ui_group","z":"","name":"溫度","tab":"d85ea1a0.3882a","order":2,"disp":true,"width":"10"},{"id":"b994856c.5de818","type":"ui_group","z":"","name":"濕度","tab":"d85ea1a0.3882a","order":1,"disp":true,"width":"10"},{"id":"d85ea1a0.3882a","type":"ui_tab","z":"","name":"溫濕度顯示","icon":"dashboard","order":1}]