doc/set_temp.json
[{"id":"bfd0ae31.04231","type":"ui_button","z":"fbb3eb38.067e18","name":"","group":"98ccb6ad.d5b9f8","order":1,"width":0,"height":0,"passthru":false,"label":"設定溫度","color":"","bgcolor":"","icon":"","payload":"set_temperature","payloadType":"str","topic":"","x":161.515625,"y":244.15235710144043,"wires":[["5c07cf1.22edf3"]]},{"id":"dba8b8fc.953678","type":"ui_text_input","z":"fbb3eb38.067e18","name":"","label":"","group":"98ccb6ad.d5b9f8","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":160.51171875,"y":123.0703125,"wires":[["8681e1da.12d31"]]},{"id":"8681e1da.12d31","type":"function","z":"fbb3eb38.067e18","name":"save temperature max vllue","func":"var value = Number(msg.payload);\ncontext.global.temperatureMax = value;\nreturn msg;","outputs":1,"noerr":0,"x":413.51173400878906,"y":121.74219226837158,"wires":[[]]},{"id":"5c07cf1.22edf3","type":"function","z":"fbb3eb38.067e18","name":"","func":"node.warn(msg.payload);\nnode.warn(context.global.temperatureMax);\nmsg.payload = '溫度設定完成';\nreturn msg;","outputs":1,"noerr":0,"x":311.51953887939453,"y":248.75782012939453,"wires":[["7de50f8c.56ef"]]},{"id":"7de50f8c.56ef","type":"ui_toast","z":"fbb3eb38.067e18","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":523.51953125,"y":246.8984375,"wires":[]},{"id":"98ccb6ad.d5b9f8","type":"ui_group","z":"","name":"溫度設定頁","tab":"3610c88b.e1cb08","order":1,"disp":true,"width":"6"},{"id":"3610c88b.e1cb08","type":"ui_tab","z":"","name":"溫度設定","icon":"dashboard","order":2}]